<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing challange</h1>
      <p class="has-text-centered">{{ challenge }}</p>

      <div class="field">
        <input
          class="input"
          type="text"
          (input)="onTyping($event.target.value)"
        />
      </div>

      <div *ngIf="userInput === challenge" class="box has-text-centered">
        <h1 class="title">You won!</h1>
      </div>
    </div>
  </div>
</div>
